@import "global";

@mixin cta-style($border-radius: 24px, $padding: 0.6rem 1.5rem) {
  background: $primary-cyan;
  color: white;
  padding: $padding;
  border-radius: $border-radius;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}
