@mixin cta-style($border-radius: 24px, $padding: 0.6rem 1.5rem) {
  background: $primary-cyan;
  color: white;
  padding: $padding;
  border-radius: $border-radius;
  transition: background 0.3s ease-in-out;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: hsl(180, 61%, 73%);
  }
}
