.stats {
  background: $secondary-grey;
  @include flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;

  .stats-content {
    @include inner-body-margin;
  }

  .text {
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  h2 {
    font-size: $sub-header-font-size;
  }

  p {
    color: $greyish-violet;
  }

  .cards {
    @include flex;
  }

  .card {
    max-width: 300px;
    background: white;
  }

  .card:not(:last-child) {
    margin-right: 2rem;
  }

  .card img {
    background: $primary-dark-violet;
    padding: 1rem;
    border-radius: 50%;
  }
}
